
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1,h2 {
  font-family: 'Creepster', cursive!important;
  color: #f50028;
}

h1 {
  font-size: 4rem;
}

.text-centered {
  text-align: center;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.6s;
	transform-style: preserve-3d;
  position: relative;
  // background-image: url("../../../public/img/front-background.jpg");
  border-radius: 5px;
  background-color: #DDCA59;
  border: 6px solid black;
}

.card.flipped {
  transform: rotateY(180deg);
  background-image: url("../../../public/img/back.png");
  background-size: cover;
}

img.card-img-top {
  margin: 0 0.5rem 0 0.3rem;
  border: 2px solid #000000;
  backface-visibility: hidden;
  align-self: center;
  width: 100%;
  height: auto;;
}

.card ul {
  padding: 0;
  backface-visibility: hidden;
}

.card ul li {
  padding: 0 3rem;
  display:flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 1rem;
  color: #f50028;
}

.card-title {
  text-align: center;
  color: black;
  padding: 0.5rem 1rem;
  backface-visibility: hidden;
  background-color: #DDCA59;
  border-bottom: 6px solid black;
}

.modal-message {
  font-family: 'Creepster', cursive!important;
  font-size: 5rem;
  color: #f50028;
}
