
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1,h2 {
  font-family: 'Creepster', cursive!important;
  color: #f50028;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
  border: 2px solid #000000;
}

img.card-img-top {
  margin: 0 0.5rem 0 0.3rem;
  border: 2px solid #000000;
}

.card ul {
  padding: 0;
}

.card ul li {
  padding: 0 3rem;
  display:flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.card-title {
  text-align: center;
  padding: 0.5rem 1rem;
}

